.feedbackOptions {
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5fbae9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover,
.button:focus {
  background-color: #417b99;
}